{% block bf_ebay_connection_assistant_start_success_content %}
    <div class="bf-ebay-connection-assistant-start-success__content">
        <bf-ebay-connection-assistant-account-status />
    </div>
{% endblock %}
