.account-register,
.account-recover-password {
    background-color: $white;
    box-shadow: 0 50px 160px 0 rgb($box-shadow-color, 0.5);

    .card {
        padding: 32px 28px;

        &-title {
            text-align: center;
            font-size: $h3-font-size;
            border-bottom: none;
            padding-bottom: $spacer-20;
            margin-bottom: 0;
        }
    }
}

.account-recover-password {
    margin: 0;

    .col-md-8 {
        @include make-col(12);
    }
}

.account-recover-password-back,
.account-recover-password-submit {
    @extend .w-100;

    margin-bottom: $spacer-md;
}

.login {
    &-card {
        .account-register & {
            margin-bottom: 0;
            padding-bottom: $spacer-50;
            background-color: $shape-gray-100;
            border-bottom: $hr-border-width solid $gray-100;
        }
    }

    &-form-description {
        @extend .d-none;
    }

    &-submit {
        margin-top: $spacer-10;

        .btn {
            @extend .btn-block;
            @extend .btn-outline-primary;

            background-color: transparent;
        }
    }

    &-form {
        display: flex;
        flex-direction: column;

        .form-row > .col-md-6 {
            .account-register & {
                @include make-col(12);
            }
        }
    }

    &-password-recover {
        order: 4;
        margin: 28px 0 0;
        text-transform: uppercase;
        font-weight: $font-weight-bold;

        .account-register & {
            text-align: center;
        }
    }
}

.is-act-recoveraccountform,
.is-act-accountregisterpage {
    .content-main .container-main {
        padding-top: $spacer-20;
        padding-bottom: 34px;
    }
}

@include media-breakpoint-up(md) {
    .is-act-recoveraccountform,
    .is-act-accountregisterpage {
        .content-main .container-main {
            padding-top: 80px;
            padding-bottom: 132px;
        }
    }

    .account-register,
    .account-recover-password {
        --container-account-register-width: 648px;

        max-width: var(--container-account-register-width);
        margin: 0 auto;

        .card {
            padding-left: 88px;
            padding-right: 88px;

            &-title {
                font-size: $h1-font-size;
                padding-bottom: $spacer-40;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .is-act-loginpage {
        .container-main {
            padding-top: $spacer-60;
            padding-bottom: 160px;
        }
    }

    .account-register {
        .col-lg-4,
        .col-lg-8 {
            @include make-col(12);
        }
    }
}
