{% block swag_markets_mapping_content %}
    <div class="bf-sales-channel-detail-mapping-content">
        {% block swag_markets_mapping_segment %}
            <bf-sales-channel-segment-mapping
                :clientExists="clientExists"
                :clientInProgress="clientInProgress"
                :currentContractName="currentContract.name">
            </bf-sales-channel-segment-mapping>
        {% endblock %}

        {% block swag_markets_category_mapping_grid_component %}
            <bf-sales-channel-category-mapping :salesChannelType="marketplaceName"
                                               :categoriesReloadTriggerEvent="categoriesReloadTriggerEvent">
            </bf-sales-channel-category-mapping>
        {% endblock %}

        {% block swag_markets_attributes_mapping %}
            <bf-sales-channel-attributes-mapping
                :salesChannelType="marketplaceName"
                :amazonSegment="amazonSegment"
                :amazonProductType="amazonProductType">
            </bf-sales-channel-attributes-mapping>
        {% endblock %}
        {% block swag_markets_variations_properties %}
            <bf-sales-channel-variation-properties-grid
                v-if="marketplaceName == 'amazon'">
            </bf-sales-channel-variation-properties-grid>
        {% endblock %}

        {% block swag_markets_mapping_unit %}
            <bf-sales-channel-detail-unit-mapping></bf-sales-channel-detail-unit-mapping>
        {% endblock %}
    </div>
{% endblock %}
