{% block bf_amazon_connection_assistant_page %}
    <div class="bf-amazon-connection-assistant">
        {% block bf_amazon_connection_assistant_page_content %}
            <bf-amazon-connection-assistant-modal />
        {% endblock %}
    </div>
{% endblock %}
