{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-item.html.twig' %}

{% block component_offcanvas_product_remove_submit %}
    <button type="submit"
            title="{{ "checkout.removeLineItem"|trans|striptags }}"
            data-product-id="{{ lineItem.id }}"
            class="btn btn-light cart-item-remove-button">
        {% sw_icon 'x' style { 'size': 'md', 'pack': 'solid' } %}
    </button>
{% endblock %}

{% block component_offcanvas_product_details %}
    <div class="col-9 cart-item-details">
        {{ block('component_offcanvas_product_details_inner') }}
    </div>
{% endblock %}
