{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_header %}
    <div class="h4 offcanvas-cart-header">
        {{ "checkout.cartHeader"|trans|sw_sanitize }}
    </div>
{% endblock %}
