{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-product-header.html.twig' %}

{% block page_checkout_cart_header_container %}
    <div class="card-title cart-table-header">
        <div class="row cart-header-row">
            {{ block('page_checkout_cart_header_product_info') }}
        </div>
    </div>
{% endblock %}
