{% sw_extends '@Storefront/storefront/page/checkout/address/register.html.twig' %}

{% block component_account_register_header %}
    {{ parent() }}

    {% block component_account_register_subhead %}
        <div class="card-register-intro">{{ "checkout.registerWelcome"|trans|sw_sanitize }}</div>
    {% endblock %}
{% endblock %}
