{% sw_extends '@Storefront/storefront/element/cms-element-cross-selling.html.twig' %}

{% block cms_element_cross_selling_tabs_navigation_container %}
    <ul class="nav nav-tabs product-detail-tab-navigation-list"
        id="product-detail-cross-selling-tabs"
        role="tablist">
        {% if element.data.crossSellings.elements is defined %}
            {% for item in element.data.crossSellings.elements|filter(item => item.total > 0 and item.crossSelling.active == true) %}
                {% set crossSelling = item.crossSelling %}
                {% set products = item.products %}
                {% set id = crossSelling.id %}
                <li class="nav-item">
                        <a class="nav-link product-detail-tab-navigation-link{% if loop.first %} active{% endif %}"
                           id="cross-selling-tab-{{ id }}"
                           data-toggle="tab"
                           href="#cross-selling-tab-{{ id }}-pane"
                           role="tab"
                           aria-controls="cross-selling-tab-{{ id }}-pane"
                           aria-selected="true">
                            {{ crossSelling.translated.name }}
                            <span class="product-detail-tab-navigation-icon">
                                {% sw_icon 'ic-chevron-right' style {'pack':'shape'} %}
                            </span>
                        </a>
                    </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}
