{% block bf_ebay_connection_assistant_account %}
    <div class="bf-ebay-connection-assistant-account">
        {% block bf_ebay_connection_assistant_account %}
{#            <bf-ebay-connection-assistant-account-status/>#}
        {% endblock %}

        {% block bf_ebay_connection_assistant_account_content %}
            <div class="bf-ebay-connection-assistant-account__content">
                <router-view v-on="$listeners" :nextBtnIsClicked="nextBtnIsClicked"></router-view>
            </div>
        {% endblock %}
    </div>
{% endblock %}
