{% sw_extends '@Storefront/storefront/page/content/product-detail.html.twig' %}

{% block cms_breadcrumb %}
    <div class="breadcrumb cms-breadcrumb">
        <div class="container">
            {% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' with {
                context: context,
                category: page.product.seoCategory
            } only %}
        </div>
    </div>
{% endblock %}
