{% sw_extends '@Storefront/storefront/component/pseudo-modal.html.twig' %}

{% block product_detail_zoom_modal_close_button_content %}
    <span aria-hidden="true">
        {% sw_icon 'x' style { 'pack': 'solid', 'size': 'sm' } %}
    </span>
{% endblock %}
