{% sw_extends '@Storefront/storefront/component/product/card/wishlist.html.twig' %}

{% block component_product_wishlist_icon %}
    {% sw_icon 'ic-heart-fill' style { 'class': 'wishlist icon-wishlist-added', 'size': size, 'pack':'shape' } %}
    {% sw_icon 'ic-heart' style { 'class': 'wishlist icon-wishlist-not-added', 'size': size, 'pack':'shape' }%}

    {% if showText %}
        <span class="product-wishlist-btn-content text-wishlist-not-added product-wishlist-btn-content-{{ size }}">
            {{ "listing.addToWishlist"|trans|sw_sanitize }}
        </span>
        <span class="product-wishlist-btn-content text-wishlist-remove product-wishlist-btn-content-{{ size }}">
            {{ "listing.removeFromWishlist"|trans|sw_sanitize }}
        </span>
    {% endif %}
{% endblock %}
