{% block bf_amazon_connection_assistant_start_success_content %}
    <div class="bf-amazon-connection-assistant-start-success__content">
        <bf-amazon-connection-assistant-account-status />
    </div>
{% endblock %}
